[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-telegram-bot = "*"
uvicorn = "*"
pymongo = "*"
passlib = "*"
python-jose = "*"
python-multipart = "*"
bcrypt = "*"
dnspython = "*"

[dev-packages]

[requires]
python_version = "3.9"
